<html>
  <head> </head>
  <body>
    <form action="/createUser" method="POST">
      <label>Enter name</label>
      <input type="text" name="firstName" value="<%= locals.firstName %>" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
